@import url('../../font/fontawesome-5.15.1/css/all.css');
@import url('./Button.css');
@import url('./Dropdown.css');
@import url('./Vadilator.css');
@import url('./Input.css');
@import url('./Table.css');
@import url('./Combobox.css');
@import url('./Properties.css');



@font-face {
    font-family: GoogleSans-Medium;
    src: url('../../font/GoogleSans-Medium.otf') ;
}
@font-face {
    font-family: GoogleSans-Bold;
    src: url('../../font/GoogleSans-Bold.otf') ;
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url('../../font/GoogleSans-Regular.otf') ;
}
body{
    font-family: GoogleSans-Regular;
    font-size: 13px;
    box-sizing: border-box;
}
#main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.active{
    display: block;
}
.correct{
    color: #F65454 ;
}
.heading{
    color: var(--back-color);
    font-size: 24px;
    margin: 0;
    font-family: GoogleSans-Bold;
}
.title{
    color: var(--back-color);
    font-size: 16px;
    margin: 0;
    font-family: GoogleSans-Bold;
}
.title2{
    color: var(--back-color);
    font-size: 14px;
    margin: 0;
    font-family: GoogleSans-Bold;
}
.label-field__input{
    color: var(--back-color);
    font-size: 13px;
    margin: 0;
    font-family: GoogleSans-Medium;
}
.lable {
    color: var(--light-black);
    font-size: 13px;
    margin: 0;
    font-family: GoogleSans-Regular;
}
.even{
    background-color: var(--light-gray);
}


.delete__value{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--light-gray);
    border-radius: 50%;
    right: 42px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.delete__value.active{
    display: block;
}
.delete__value img{
    width: 13px;
    margin-bottom: 5px;
    margin-left: 0.4px;
    
}

