/* Combobox */
.page-combobox{
    display: flex;
}
.combobox{
    display: flex;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: #000000;
    font-weight: 500;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
    min-width: 180px;
    justify-content: space-between;
   
}
.combobox.focus{
    border: 1px solid #01b075;
}
.combobox-input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
}
.combobox-icon,
.dropup-icon{
    padding: 0 12px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #454545;
    height: 38.5px;
    border-left: 1px solid #bbbbbb;
    line-height: 38.5px;
}
.dropup-icon{
    background-color: #E5E5E5;
    border-left: 1px solid #E5E5E5;
}
.combobox-icon:hover{
    background-color: #E5E5E5;
    border-left: 1px solid #E5E5E5;
}
.combobox-icon.active,
.dropup-icon.active{
    display: none;
   
}
.combobox-list{
    list-style: none;
    position: absolute;
    width: 100%;
    max-height: 280px;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;
    left: 0;
    top: 102%;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.4);
    padding: 6px 0;
    border-radius: 4px;
    margin: 0;
    display: none;
    z-index: 10;
}
.combobox-list.active{
    display: block;
}
.combobox-list__item{
    height: 40px;
    line-height: 40px;
    display: flex;
}
.combobox-list__item:hover{
   background-color: #e5e5e5;
}
.combobox-list__item span{
    margin-left: 38px;
}
.combobox-list__item i{
    display: none;
}
.combobox-list__item.combobox-list__item-focus i{
    line-height: 40px;
    display: flex;
    padding: 0 10px;
}
.combobox-list__item.combobox-list__item-focus span{
    margin-left: 0;
}
.combobox-list__item.combobox-list__item-focus{
    background-color: #019160;
    color: #ffffff;
    border: 1px solid #019160;
}
