/* Dropdown */
.dropdown{
    display: flex;
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    color: var(--back-color);
    font-weight: 500;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
    min-width: 180px;
    justify-content: space-between;
   
}
.dropdown.focus{
    border: 1px solid var(--primary-color);
}
.dropdown-input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: default;
}
.dropdown-icon,
.dropup-icon{
    padding: 0 12px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: var(--light-black);
    height: 38.5px;
    line-height: 38.5px !important;
}
.dropdown-icon.active,
.dropup-icon.active{
    display: none;
   
}
.dropdown-list,
.dropdown-list.last{
    list-style: none;
    position: absolute;
    width: 101%;
    max-height: 280px;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;
    left: -1px;
    top: 102%;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.4);
    padding: 6px 0;
    border-radius: 4px;
    margin: 0;
    display: none;
    z-index: 1;
}
.dropdown-list.last{
    top : -94px;
    box-shadow: 0 0px 12px rgba(0,0,0, 0.4);
}
.dropdown-list.active{
    display: block;
}
.dropdown-list__item{
    height: 40px;
    line-height: 40px;
    display: flex;
}
.dropdown-list__item:hover{
   background-color: var(--light-gray);
}
.dropdown-list__item span{
    margin-left: 38px;
}
.dropdown-list__item i{
    display: none;
}
.dropdown-list__item.dropdown-list__item-focus i{
    line-height: 40px;
    display: flex;
    padding: 0 10px;
}
.dropdown-list__item.dropdown-list__item-focus span{
    margin-left: 0;
}
.dropdown-list__item.dropdown-list__item-focus{
    background-color: var(--default);
    color: var(--while-color);
    border: 1px solid var(--default);
}
