.toast-messenger{
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 100;
    max-width: 150px;
}
.toast-messenger__show{
    position: relative;
    align-items: center;
    display: flex;
    text-align: center;
    height: 48px;
    background-color: var(--while-color);
    border-radius: 4px;
    padding: 12px;
    margin-left: -125px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.toast-messenger.active{
    display: none;
}

.toast-messenger__show .toast-icon{
    width: 24px;
    text-align: center;
    align-items: center;
    font-size: 24px;
}

.toast-messenger__show .toast-title{
    margin-left: 10px;
}

.toast-messenger__show .toast-close{
   font-size: 24px;
   padding-left: 10px;
   cursor: pointer;
   right: 0;
}
.toast-messenger__show .toast-success {
    color: var(--primary-color);
}

.toast-messenger__show .toast-warning,
.toast-messenger__show .toast-warning.toast-error{
    color: var(--red-color);
}
.toast-messenger__show .toast-error{
    color: #FF6900;
}

.toast-icon i{
    display: none;
}
.toast-icon i.toast-success,
.toast-icon i.toast-warning,
.toast-icon i.toast-error{
    display: block;
}
.toast-icon i.toast-error{
    border-radius: 50%;
    border: 2px solid;
    font-size: 16px;
    padding: 2px;
}