
.page{
    background-color: var(--white-gray);
    display: flex;
     width: calc(100% - 218px);
}
.page.active{
    width: calc(100% - 52px);
}
.navbars{
    width: 52px;
}
.navbars.active{
    width: 218px;
}
.content{
    width: 100%;
    position: relative;
}
.contents {
    width: 100%;
}
.content.active{
    width: 100%;
}
/* Body */
.content__body{
    padding: 24px 12px 8px 12px;
    border-left: 1px solid var(--gray);
}
.content__action-title{
    color: var(--back-color);
    font-size: 20px;
    margin: 0;
}
.content__action{
    display: flex;
    justify-content: space-between;
}
.content__action-button{
    display: flex;
    border-radius: 4px;
}

.content__search{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.content__field{
    display: flex;
    width: 70%;
    position: relative;
}
.field{
    display: flex;
    height: 40px;
    width: 320px;
    position: relative;
}
.field__search:focus{
    border: 1px solid var(--default);
    background-position: 16px 11px;
    color: var(--back-color);
}
.field__icon{
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 1;
    top: 12px;
    left: 16px;
}
.field__search{
    width: 100%;
    border: 0;
    padding: 0;
    font-size: 13px;
    height: 100%;
    outline: none;
    padding-left: 40px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    align-items: center;
    color: var(--back-color);
}
.field .delete__value{
    top: 12px;
    right: 15px;
}
.content__search-refresh{
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    line-height: 37px;
    text-align: center;
    padding:  0 12px;
    cursor: pointer;
    background-color: var(--while-color);
}


.content-left__content{
    display: block;
    list-style: none;
    padding: 0;
    width: 100%;
    background-color: var(--while-color);
    height: 100%;
}
.content-left__content.active{
    width: 52px;
}
.content-left__item{
    display: flex;
    height: 44px;
    align-items: center;
    cursor: pointer;
}
.content-left__item:hover{
    background-color: var(--light-gray);
    color: var(--back-color);
    font-family: GoogleSans-Regular;
}
.content-left__item-focus{
    background-color:  var(--default);
}
.content-left__list-icon{
    width: 52px;
    text-align: center;
}
.content-left__icon{
    width: 20px;
}
.content-left__name{
    text-decoration: none;
    font-size: 13px;
    color:var(--light-black);
    height: 100%;
    line-height: 44px;
    padding-top: 1.5px;
}
.content-left__name:hover{
    text-decoration: none;
    color:  var(--back-color);
}
.content-left__name.active{
    display: none;
}
.content-left__item.content-left__item-focus .content-left__name
{
    color: var(--while-color);
    font-family: GoogleSans-Medium;
}
.content-left__item.content-left__item-focus:hover{
    background-color:  var(--default);
}

.show-content{
    background-color: var(--gray);
    width: 28px;
    height: 28px;
    margin-left: 24px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    margin-top: 16px;

}
.show-content.active{
    margin-left: 190px;
}
.show-content i{
    line-height: 28px;
    color: var(--while-color);
}
.show-content i.active{
    display: none;
}