@font-face {
    font-family: GoogleSans-Medium;
    src: url('/assets/font/GoogleSans-Medium.otf') ;
}
@font-face {
    font-family: GoogleSans-Bold;
    src: url('/assets/font/GoogleSans-Bold.otf') ;
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url('/assets/font/GoogleSans-Regular.otf') ;
}

/* Menu left */
.header{
    display: flex;
    padding: 0;
    font-family: GoogleSans-Medium;
    position: relative;
    width: 100%;
}
.header-left__logo{
    display: flex;
    height: 48px;
    line-height: 48px;
    width: 218px;
}
.icon-box .icon-toggle{
    height: 24px;
    padding: 0 10px 0 16px;
}
.logo-box .logo{
    height: 24px;
}

.content__header{
    display: flex;
    width: 100%;
    height: 49px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    position: relative;
    background-color: var(--while-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-left: 1px solid var(--gray);
    flex: 1;
}
.content__header-text{
    display: flex;
    height: 48px;
    align-items: center;
}

.BD{
    height: 80%;
    width: 40px;
    border-radius:6px;
    background-color: #EBF4FF;
    text-align: center;
    margin-left: 24px;
}
.BD h2{
    font-size: 14px;
    line-height: calc((48px*80)/100);
    color: #0075FF;
    cursor: default;
}
.text-title{
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.text-title i{
    font-size: 12px;
    padding-left: 10px;
    
}
.account{
    display: flex;
    align-items: center;
}
.avatar{
    width: 30px;
    margin-left: 16px;
    cursor: pointer;
}
.account-name{
    padding: 0 16px;
    cursor: pointer;
}
.account__notification{
    font-size: 18px;
    color: var(--light-black) ;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
.account__notification::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: red;
    top: 2%;
    right: calc(16% - 3px);
    border-radius: 3.5px;
    border: 2px solid var(--while-color);
    display: block;
}
.account__option{
    font-size: 13px;
    padding-right: 16px;
    margin-top: 2px;
    cursor: pointer;
    color: var(--light-gray);
}

