.staff-information{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    z-index: 1;
    padding: 24px 0;
    right: 0;
    top: 0;
}
.staff-information.active{
    display: none;
}
.staff-information__person{
    background-color: var(--while-color);
    width:  750px;
    margin : 0 auto;
    border-radius: 4px;
    
}
/* header */
.staff-information__header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.staff-information__header-heading{
    padding: 24px;
}
.staff-information__header-img{
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    right: 0;
}
.staff-information__header-img:hover{
    background-color: var(--white-gray);
}

/* information */
.staff-information__img-person{
    text-align: center;
    padding: 24px 12px 0 36px;
    list-style: none;
}

.staff-information__img-person img{
    border: 1px solid var(--gray);
    width: 100%;
    border-radius: 50%;
   
}

.staff-information__general{
    list-style: none;
    padding-top: 24px;
    padding-left: 0;
    width: 98%;
    height: 527px;
    overflow: hidden;
    overflow-y: auto;
}
.staff-information__general::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: var(--gray);
}
.staff-information__general::-webkit-scrollbar-thumb
{   
    min-height: 40px;
    background-color: var(--light-black);
    border-radius: 4px;
}

.staff-information__general li{
    padding-left: 0;
}
.staff-information__general-title{
    position: relative;
}
.staff-information__general-title::after{
    content: " ";
    display: block;
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--primary-color);
    top: 110%;
}
.staff-information__general-item{
    padding-left: 0;
}
.staff-information__general-item .dropdown{
   width: 100%;
}

.staff-information__work-title{
    padding-top: 24px;
}
.dropdown-list__staff-location,
.dropdown-list__staff-room{
    z-index: 10;
}
/* save */


